@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome-4.3.0/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/font-awesome-4.3.0/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/font-awesome-4.3.0/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/font-awesome-4.3.0/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/font-awesome-4.3.0/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/font-awesome-4.3.0/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

#site_nav_global_primary {
	width:100%;
	}
address img {
    max-height: 25px;
	}

body.quitim {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding:0;
    margin:0;
	background-color:#eee;
	color:#555;
	}

.quitim a, a:visited {
	color:#0084B4;
	text-decoration:none;
	}

.quitim ol, ul, li {
	list-style:none;
	margin:0;
	padding:0;
	}

.quitim #wrap {
    font-weight: 400;
    font-size:14px;
	width:100%;
    max-width:800px;
    position:relative;
    background-color:#fff;
    margin: 50px auto 50px auto;
    overflow:hidden;
	}

.quitim-notice {
	position:relative;
	clear:both;
	}
.noticestream.threaded-view .quitim-notice {
	padding-bottom: 7px;
}

.quitim address a,
#quitimuserstream #topright,
.noticestream.threaded-view .notice > footer > .notice-options .form_favor fieldset input,
.noticestream.threaded-view .notice > footer > .notice-options .form_disfavor fieldset input,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_reply,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_reply,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_delete,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_delete,
.noticestream.threaded-view .notice-faves,
.noticestream.threaded-view .threaded-replies .notice-reply-comments a,
#set-thumbnail-view,
#set-threaded-view,
.quitim #fixed-footer a div,
.quitim #loginlogo,
body#quitimfavorited #form_login,
body#quitimfavorited #form_login fieldset,
body#quitimfavorited #form_login fieldset .form_data,
body#quitimfavorited #form_login #submit,
#image-preview #image-nav #close-image,
#image-preview #image-nav #submit-image,
#image-preview .toolbar-button-extra,
.double-tap-heart {
	background-image: url("../img/sprite.png?v=7");
	background-size: 500px 2000px;
	background-repeat:no-repeat;
	}

#image-toolbar div .filter-thumb {
	background-image: url("../img/sprite-preview.jpg?v=2");
	background-size: 500px 300px;
	background-repeat:no-repeat;
	}


.quitim address a {
	background-position:0px 2px;
    display: block;
    width:145px;
    height:50px;
	}
.quitim address a span,
.quitim address img {
	display:none;
	}

#quitimuserstream #header address {
	display:none;
	}

.quitim #header {
	background-color:#0084B4;
	height:50px;
	position:fixed;
	width:100%;
	max-width:800px;
	top:-5px;
	padding-top:5px;
	z-index:100;
	}

/* footer */
.quitim #fixed-footer {
	width:100%;
	position:fixed;
	bottom:0;
	height:50px;
	background-color:#444;
	z-index:1000;
	max-width: 800px;
	}
.quitim #fixed-footer a {
	display:block;
	position:absolute;
	width:20%;
	height:50px;
	left:50%;
	}
.quitim #fixed-footer a:active {
	background-color:#333;
	}
.quitim #fixed-footer a:active > div {
	border-color:#333;
	}
.quitim #fixed-footer a > div {
	position:relative;
	border:2px solid #444;
	height:48px;
	background-position:-300px -450px;
	}
.quitim #fixed-footer a.active > div {
	border-color:#222;
	background-color:#222;
	}

.quitim #fixed-footer a.active > div > div {
	position:relative;
	border-bottom:3px solid #0084B4;
	height:45px;
	}
.quitim #fixed-footer a#home-all {
	margin-left:-50%;
	}
.quitim #fixed-footer a#home-all div {
	background-position:center -450px;
	}
.quitim #fixed-footer a#my-profile {
	margin-left:30%;
	}
.quitim #fixed-footer a#my-profile div {
	background-position:center -505px;
	}
.quitim #fixed-footer a#notifications {
	margin-left:10%;
	}
.quitim #fixed-footer a#notifications div {
	background-position:center -567px;
	}
.quitim #fixed-footer a#popular {
	margin-left:-30%;
	}
.quitim #fixed-footer a#popular div {
	background-position:center -625px;
	}
.quitim #fixed-footer a#camera {
	margin-left:-10%;
	background-color:#0084B4;
	}
.quitim #fixed-footer a#camera div {
	border-color:#0084B4;
	background-position:center -684px;
	}
.quitim #fixed-footer a#camera:active {
	background-color:#000;
	}
.quitim #fixed-footer a#camera:active div {
	border-color:#000;
	}

.quitim h1 {
	text-transform:uppercase;
    font-weight: 500;
	margin:0;
	font-size:18px;
	line-height:50px;
	padding-left:10px;
	color:#fff;
	}

.quitim #topright {
	height:50px;
	width:65px;
	position:absolute;
	top:5px;
	right:0;
	cursor:pointer;
	}
#quitimuserstream #topright	{
	background-position:30px -95px;
	}
#quitimuserstream #topright:active {
	background-color:rgba(0,0,0,0.2);
	}
.quitim #topright img#refresh {
	position:absolute;
	right:10px;
	top:10px;
	}

#quitimuserstream:not(.user_in) #topright {
	display:none;
	}

#form_ostatus_connect,
#form_notice_delete,
#quitimuserstream:not(.me) .account_profile_block .entity_actions {
	background-color:rgba(0,0,0,0.5);
	width:100% !important;
	position:relative;
	display:none;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	height:100% !important;
	text-align:center;
	}

#quitimuserstream.me .account_profile_block .entity_actions	{ /* me */
	display:block;
	position:absolute;
	width:100%;
	height:auto;
	background:transparent;
	}

#form_ostatus_connect {
	display: block;
}

#quitimuserstream .account_profile_block .entity_actions h2 {
	display:none;
	}

#quitimuserstream .account_profile_block .entity_actions ul {
	margin:0;
	padding:0;
	list-style:none;
	}

#form_ostatus_connect fieldset,
#form_notice_delete fieldset,
#quitimuserstream:not(.me) .account_profile_block .entity_actions > ul {
	width:90%;
	display:block
	position:relative;
	margin:auto auto;
	max-width:500px;
	background-color:#fff;
	border-radius:10px;
	margin-top:30px;
	overflow:hidden;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	border:0 none;
	}

#form_ostatus_connect #ostatus_nickname,
#form_ostatus_connect .close {
	display:none;
	}
#form_ostatus_connect fieldset,
#form_notice_delete fieldset {
	padding:0;
	margin:0 auto;
	position:relative;
	display:block;
	padding-bottom:20px;
	}
#form_ostatus_connect legend,
#form_notice_delete legend {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 60px 0 10px;
    position: relative;
    text-align: center;
    width: 100%;
	}
#form_ostatus_connect input#submit,
#form_notice_delete input#form_action-yes,
#form_notice_delete input#form_action-no {
    border: 0 none;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-size:14px;
    color:#fff;
    background:green;
    text-decoration:none;
    text-align:center;
    border-radius:3px;
    width:50%;
    cursor:pointer;
	}
#form_notice_delete input#form_action-yes,
#form_notice_delete input#form_action-no {
	width:30%;
	display:inline-block;
	}
#form_notice_delete input#form_action-no {
	background:#0084b4;
	margin-right:5px;
	}
.ui-dialog-titlebar	{
	display: none;
}

/* profile streams */
.quitimprofilestream li.profile {
	clear:both;
	display:block;
	position:relative;
	height:40px;
	margin:10px;
	margin-top:0;
	padding-top: 10px;
	overflow: hidden;
}

.quitimprofilestream li.profile:not(:first-child) {
	border-top:0.5px solid #ccc;
}

.quitimprofilestream li.profile a.u-url {
	display:block;
	width:100%;
	position:absolute;
	height:40px;
}

.quitimprofilestream li.profile a.u-url::before {
	display:block;
	position:absolute;
	content: " ";
	top:0;
	left:0;
	width:40px;
	height:40px;
	border-radius:40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.1);
	z-index:2;
}

.quitimprofilestream li.profile a.u-url img.avatar {
	width:40px;
	height:40px;
	border-radius:40px;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

.quitimprofilestream li.profile .entity_actions {
	position:relative;
	float:right;
}

.quitimprofilestream li.profile .entity_actions * {
	border:0;
	margin:0;
	padding:0;
	display:block;
	background-color: transparent;
}
.quitimprofilestream li.profile .entity_actions legend {
	display: none;
}


.form_user_subscribe button[value="Subscribe"],
.form_user_unsubscribe button[value="Unsubscribe"] {
	display:block;
	position: relative;
	background-color: #fff;
    border: 1px solid #0084b4 !important;
    color: #0084b4;
	text-transform: uppercase;
	height:27px;
	margin: 7px 0 !important;
	line-height: 24px;
	padding: 0	10px !important;
	min-width:120px;
	border-radius: 4px;
	font-size:10px;
	letter-spacing: 0.3px;
	cursor:pointer;
}

body#quitimuserstream .form_user_subscribe button[value="Subscribe"],
body#quitimuserstream .form_user_unsubscribe button[value="Unsubscribe"] {
	width:100%;
	border-width:1.5px !important;
}

.form_user_subscribe button[disabled],
.form_user_unsubscribe button[disabled] {
	opacity:0.5;
	cursor:default;
}

.form_user_subscribe button[value="Subscribe"]::before,
.form_user_unsubscribe button[value="Unsubscribe"]::before {
	font-family: 'FontAwesome';
	content:'\f00c';
	display:inline-block;
	padding-right:5px;
}
.form_user_subscribe button[value="Subscribe"]::before {
	content:'\f067';
}


.form_user_unsubscribe button[value="Unsubscribe"] {
	background-color:#00AA00 !important;
	border-color:#00AA00 !important;
	color:#fff;
}

.quitimprofilestream li.profile .p-nickname,
.quitimprofilestream li.profile .p-name {
	display:block;
	position:relative;
	line-height:18px;
	height:18px;
	padding-top:2px;
	margin-left:50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
	color:#aaa;
}
.quitimprofilestream li.profile .p-nickname {
	font-weight: bold;
}
.quitimprofilestream li.profile .p-nickname span.nickname-container {
	color:#000;
}
.quitimprofilestream li.profile .p-name {
	clear:left;
	padding-top:0px;
	padding-bottom:2px;
}

/* end profile streams */

#quitimuserstream .account_profile_block .entity_actions ul li p {
	display:none;
	}
#quitimuserstream .account_profile_block .entity_actions ul li form fieldset {
	padding:0;
	margin:0;
	height:39px;
	width:100%;
	border:0 none;
	position:relative;
	}
#quitimuserstream .account_profile_block .entity_actions ul li form fieldset legend {
	display:block;
	position:absolute;
	height:40px;
	line-height:40px;
	z-index:1;
	color:#333;
	text-align:left;
	font-weight:bold;
	font-size:12px;
	padding-left:10px;
	}
#quitimuserstream .account_profile_block .entity_actions ul li form fieldset input {
	display:block;
	position:relative;
	width:100%;
	height:40px;
	line-height:40px;
	background:transparent;
	border:0 none;
	border-bottom:1px solid #ccc;
	color:transparent;
	text-align:left;
	font-weight:bold;
	font-size:12px;
	z-index:2;
	}
#quitimuserstream .account_profile_block .entity_actions ul li form fieldset input:hover {
	background:rgba(0,0,0,0.1);
	}
#quitimuserstream .account_profile_block .entity_actions ul li form fieldset input:active {
	background:rgba(0,0,0,0.2);
	}
#quitimuserstream .account_profile_block .entity_actions ul li.entity_send-a-message	{
	display:none;
	}

#quitimuserstream #profileblock > .profile_subscribe form fieldset legend {
	display:none;
	}
#quitimuserstream #profileblock > .profile_subscribe form fieldset {
	margin:0;
	padding:0;
	border:0 none;
	}

#quitimuserstream #profileblock {
	margin-left:115px;
	margin-right:15px;
	position:relative;
	display:block;
	}


#quitimuserstream #profileblock li.entity_subscribe,
#quitimuserstream .account_profile_block,
#quitimuserstream #profileblock > .profile_subscribe {
	margin-left:-115px;
	}


#quitimuserstream #profileblock li.entity_tag {
	display:none;
	}

#quitimuserstream.me .account_profile_block .entity_actions ul li.entity_edit,
#quitimuserstream #profileblock li.entity_subscribe a.entity_remote_subscribe,
#quitimuserstream #profileblock > .profile_subscribe form fieldset {
    position: absolute;
    top:70px;
    width:100%;
    padding-left:115px;
    display:block;
    height:50px;
	}
#quitimuserstream #profileblock li.entity_subscribe a.entity_remote_subscribe {
	font-size: 14px;
    height: 30px;
    line-height: 30px;
	border-radius: 3px;
	margin-left:115px;
	padding:0;
	text-align: center;
}

#quitimuserstream.me .account_profile_block .entity_actions ul li.entity_edit a,
#quitimuserstream #profileblock > .profile_subscribe form fieldset input {
    border: 0 none;
    display: block;
    height: 30px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    position: relative;
    font-size:14px;
    color:#333;
    background:#ddd;
    text-decoration:none;
    text-align:center;
    border-radius:3px;
    width:100%;
    cursor:pointer;
	}
#quitimuserstream #profileblock > .profile_subscribe form.form_user_unsubscribe fieldset input {
	background:green;
	color:#fff;
	}
#quitimuserstream #profileblock li.entity_subscribe a.entity_remote_subscribe,
#quitimuserstream #profileblock > .profile_subscribe form.form_user_subscribe fieldset input {
    background-color: #fff;
    border: 1.5px solid #0084b4;
    color: #0084b4;
	}
#quitimuserstream #profileblock li.entity_subscribe a.entity_remote_subscribe::before {
	content:'+ ';
	font-size:20px;
	line-height:26px;
	}



#quitimuserstream #profileblock .avatar.u-photo {
	margin:20px 15px 15px;
	width:82px;
	height:82px;
	border-radius:40px;
	overflow:hidden;
	box-shadow: inset 0 0 5px #000000;
	}

#quitimuserstream #profileblock > h2 {
	width:29%;
	position:absolute;
	top:0;
	text-align:center;
	height:45px;
	padding-top:5px;
	font-size:18px;
	}
#quitimuserstream #profileblock > h2 a {
	display:block;
	position:absolute;
	width:100%;
	text-align:center;
	height:20px;
	line-height:20px;
	padding-top:20px;
	color:#aaa;
	font-size:13px;
	text-decoration:none;
	text-transform:lowercase;
	font-weight:400;
	}
#quitimuserstream #profileblock > h2#subscriberscountlink {
	margin-left:33%;
	}
#quitimuserstream #profileblock > h2#subscriptionscountlink	{
	margin-left:66%;
	}

#quitimuserstream .profile_block_location {
	display:none;
	}
#quitimuserstream .profile_block_name,
#quitimuserstream .profile_block_homepage,
#quitimuserstream .profile_block_description {
	margin: 0 15px;
	padding:0;
	font-size:13px;
	line-height:23px;
	}
#quitimuserstream .profile_block_name a {
	font-weight:bold;
	text-decoration:none;
	color:#000;
	}


/* thumb-thread selector */

#thumb-thread {
	width:100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:50px;
	position:relative;
	margin-top:20px;
	}
#set-thumbnail-view,
#set-threaded-view {
	width:50%;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	background-position:center -322px;
	background-repeat:none;
	}
#set-threaded-view {
	background-position:center -362px;
	left:50%;
	}

/* thumbnail view */

.noticestream.thumbnail-view {
	opacity:0;
	width:100%;
	position:relative;
	overflow:hidden;
	}

.noticestream.thumbnail-view ol {
	margin:0;padding:0;list-style:none;
	display:block;
	}
.noticestream.thumbnail-view h2,
.noticestream.thumbnail-view .notice .notice-headers,
.noticestream.thumbnail-view .notice > footer,
.noticestream.thumbnail-view .notices.threaded-replies {
	display:none;
	}

.noticestream.thumbnail-view #notices_primary {
	width:102%;
	position:relative;
	}

.noticestream.thumbnail-view .notice {
   line-height: 0;
   width:19.5%;
   padding:0 0.3% 0.3% 0;
   position:relative;
   }

.noticestream.thumbnail-view .notice .quitim-notice img {
	height:auto;
	width:100%;
	}

.noticestream.thumbnail-view .notice .e-content > a {
    display: none;
}

.quitim #content > .input_forms {
	width:0;
	height:0;
	overflow:hidden;
	}

/* threaded notice view */
.noticestream.threaded-view #notices_primary h2 {
	display:none;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice,
.noticestream.threaded-view #notices_primary > .notices > .notice {
	position:relative;
	border-bottom:1px solid #ccc;
	}

 .noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice,
 .noticestream.threaded-view #notices_primary > .notices > .notice	{
	padding-bottom:55px;
	}



 .noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > .notice-headers,
 .noticestream.threaded-view #notices_primary > .notices > .notice > .notice-headers {
	font-size:0;
	color:transparent;
	}

.noticestream.threaded-view .notice-headers > .p-author {
	line-height:50px;
	height:50px;
	position:relative;
	font-size:13px;
	font-weight:bold;
	}
.noticestream.threaded-view .notice-headers > .p-author .u-photo {
	border-radius: 35px;
    box-shadow: 0 0 5px #000000 inset;
    display: block;
    height: 34px;
    width: 34px;
	display:block;
    float: left;
	margin: 8px 8px;
	}
.noticestream.threaded-view .notice > .e-content,
.noticestream.threaded-view .notice-headers > .notice-title {
	margin:0;
	padding:0;
	}

.noticestream.threaded-view img {
	width:100%;
	display:block;
	margin:0;
	padding:0;
	}
.noticestream.threaded-view .notice-headers > .notice-title,
.noticestream.threaded-view .notice-headers > .addressees,
.noticestream.threaded-view .notice footer > .attachments,
.noticestream.threaded-view .notice footer > .attachments-title,
.noticestream.threaded-view .notice footer > .permalink,
.noticestream.threaded-view .notice footer > .source {
	display:none;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > a.timestamp,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > a.timestamp {
	position:absolute;
	display:block;
	top:0;
	right:8px;
	line-height:50px;
	height:50px;
	padding-left:20px;
	color:#aaa;
	text-decoration:none;
	font-size:12px;
	font-weight:400;
	border:0 none;
	}
.noticestream.threaded-view .notice > footer > a.timestamp time {
	border:0 none;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options {
	position:absolute;
	height:50px;
	width:100%;
	left:10px;
	bottom:-4px;
	}


.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_favor legend,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_disfavor legend,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .form_favor legend,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .form_disfavor legend {
	display:none;
	}

#notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_favor fieldset,
#notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_disfavor fieldset,
#notices_primary > .notices > .notice > footer > .notice-options .form_favor fieldset,
#notices_primary > .notices > .notice > footer > .notice-options .form_disfavor fieldset {
	border:0 none; padding:0;margin:0;
	width:40px;
	height:40px;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_reply,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_delete,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_favor fieldset input,
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_disfavor fieldset input,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_reply,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_delete,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .form_favor fieldset input,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .form_disfavor fieldset input {
	border:0 none; padding:0;margin:0;
	width:40px;
	height:40px;
	background-color:transparent;
	background-position:-4px -196px;
	font-size:0;
	color:transparent;
	display:block;
	top:0;
	left:0;
	position:absolute;
	cursor:pointer;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .form_disfavor fieldset input,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .form_disfavor fieldset input {
	background-position:-46px -196px;
	}

.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_reply,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_reply {
	background-position:-100px -196px;
	left:80px;
	}
.noticestream.threaded-view #notices_primary > .notices > .infscr-pages > .notice > footer > .notice-options .notice_delete,
.noticestream.threaded-view #notices_primary > .notices > .notice > footer > .notice-options .notice_delete {
	background-position:-260px -190px;
	right:15px;
	left:auto;
	}


.noticestream.threaded-view .threaded-replies {
	margin:0;
	}

.noticestream.thumbnail-view article > .first-comment > .p-author {
	display: none;
}

.noticestream.thumbnail-view .notice-faves {
	display: none;
}


.noticestream.threaded-view article > .first-comment > .p-author img {
	display: none;
}

.noticestream.threaded-view .first-comment {
	padding: 0 15px;
	line-height: 18px;
}

/* old quitim had quitim-notices in the rendered field, just hide that */
.noticestream .first-comment .quitim-notice {
	display:none;
}

/* enlarge text if there's no image, i.e. if we follow someone on a regular gnusocial instance */
.quitim-notice-text-only {
	display:none;
	}
#notices_primary > .threaded-notices .quitim-notice-text-only {
    background: #f5f5f5 none repeat scroll 0 0;
    display: block;
    color:#333;
    font-family: courier;
    font-size: 18px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 10px 10px 10px;
    padding: 60px;
    text-align: center;
}


.noticestream.threaded-view .threaded-notices > .notice > article > .first-comment > .p-author,
.noticestream.threaded-view .threaded-notices > .notice > article > .first-comment > .quitim-notice-text {
	font-size: 13px;
	line-height:20px;
}
.noticestream.threaded-view .threaded-notices article > .first-comment > .p-author {
	font-weight: bold;
}

.noticestream.threaded-view .threaded-replies li .quitim-notice {
	display:none;
	}
.noticestream.threaded-view .quitim-notice-text	{
	display:inline;
	}

.noticestream.threaded-view .threaded-replies .notice.conversation-starter .attachment {
	display:none;
	}
.noticestream.threaded-view .threaded-replies .notice.conversation-starter.empty-text {
	display:none;
	}
.noticestream.threaded-view .threaded-notices > .notice.no-images > article > .first-comment > .p-author,
.noticestream.threaded-view .threaded-notices > .notice.empty-text > article > .first-comment > .p-author,
.noticestream.threaded-view .threaded-notices > .notice.no-images > article > .first-comment > .quitim-notice-text,
.noticestream.threaded-view .threaded-notices > .notice.empty-text > article > .first-comment > .quitim-notice-text,
.noticestream.threaded-view  .threaded-notices > .notice > article > .first-comment > .quitim-notice-text .attachment {
	display:none;
	}

.noticestream.threaded-view .threaded-replies .notice-headers > .p-author {
	display: none;
	}

.noticestream.threaded-view .notice-faves {
    background-position: -5px -252px;
    background-repeat: no-repeat;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 35px;
	}
.noticestream.threaded-view .notice-faves a {
	font-weight:bold;
	}
.noticestream.threaded-view .threaded-replies .notice-faves {
	display:none;
	}

.noticestream.threaded-view .threaded-replies .notice-reply-comments a {
	background-position:-5px -293px;
	padding-left:36px;
	font-size:13px;
	line-height:23px;
	color:#777;
	}

.form_repeat {
	display:none;
}



.noticestream.thumbnail-view .notice .quitim-notice-text {
	display:none;
}

.noticestream.thumbnail-view .notice.no-images {
	display:none;
	height:0;
	width:0;
}

.noticestream .notice .quitim-notice .no-link {
	display:none;
	}
.noticestream.threaded-view .notice .quitim-notice .link {
	display:none;
}
.noticestream.threaded-view .notice .quitim-notice .no-link {
	display:block;
	}

/*
.noticestream.threaded-view .threaded-replies .notice .notice-headers .quitim-notice,
.noticestream.threaded-view .threaded-replies .notice:nth-child(2) .notice-headers .attachment,
.noticestream.threaded-view .threaded-replies .notice:nth-child(2) .quitim-notice {
	display:none;
	}

.noticestream.threaded-view .notice > .e-content {
	font-size:0;
	line-height:0;
	color:transparent;
	}*/

.noticestream.threaded-view .threaded-replies .notice .notice-headers {
	display:none;
	}
.noticestream.threaded-view .threaded-replies .notice .e-content {
	display:inline;
	font-size:13px;
	}
.noticestream.threaded-view .threaded-replies .notice .e-content > br {
	display:none;
	}
.noticestream.threaded-view .threaded-replies .notice > .notice-headers .p-author > .u-photo,
.noticestream.threaded-view .threaded-replies .notice > footer,
.noticestream.threaded-view .threaded-replies .notice-reply-placeholder {
	display:none !important;
	}

.noticestream.threaded-view .threaded-replies .notice-reply	{
	position:fixed;
	display:block;
	z-index:2000;
	top:0;
	margin:0 auto;
	width:100%;
	max-width:800px;
	background:#fff;
	height:100%;
	}
	
.noticestream.threaded-view .threaded-replies .notice-reply #notice_action-submit {
	background-color: #00aa00;
    border: 0 none;
    bottom: 0;
    color: #f5f5f5;
    font-size: 20px;
    height: 70px;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    cursor:pointer;
	}
.noticestream.threaded-view .threaded-replies .notice-reply #notice_action-submit[disabled] {
	background-color:#aaa;
	color:#aaa;
	cursor:default;
	}
.noticestream.threaded-view .threaded-replies .notice-reply form,
.noticestream.threaded-view .threaded-replies .notice-reply fieldset {
	border:0 none;
	padding:0;
	margin:0;
	}
.noticestream.threaded-view .threaded-replies .notice-reply label {
	display:none;
	}
.noticestream.threaded-view .threaded-replies .notice-reply legend {
    background-color: #0084b4;
    color: #0084b4;
    display: block;
    height: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
	}	
.noticestream.threaded-view .threaded-replies .notice-reply legend::before {
	content:"\f104";
	box-sizing: border-box;
    color: #f5f5f5;
    display: block;
    font-family: "FontAwesome";
    font-size: 70px;
    line-height: 66px;
    padding-left: 10px;
    position: absolute;
	}	

.noticestream.threaded-view .threaded-replies .notice-reply .count {
	color: #f5f5f5;
    display: block;
    font-size: 20px;
    height: 70px;
    letter-spacing: 4px;
    line-height: 70px;
    margin: 0;
    padding: 0 10px 0 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
	}

.noticestream.threaded-view .threaded-replies .notice-reply form textarea {
	border: 0 none;
    box-sizing: border-box;
    display: block;
    font-size: 30px;
    height: calc(100% - 140px);
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 70px;
    width: 100%;
	}	
.noticestream.threaded-view .threaded-replies .notice-reply form.ajax-notice.processing textarea {
	color:#aaa;
	}
.noticestream.threaded-view .threaded-replies .notice-reply form.ajax-notice.processing legend {
	color:#aaa;
	background-color:#aaa;
	}	
.noticestream.threaded-view .threaded-replies .notice-reply form.ajax-notice.processing legend::before {
	content: "POSTING...";
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size:30px;
    letter-spacing:3px;
	}	
	

.ui-dialog {
	background-color: #fff;
    display: block !important;
    height: 100% !important;
    left: -400px !important;
    margin-left: 50%;
    position: fixed !important;
    top: 0 !important;
    width: 800px !important;
    z-index: 1000;
    padding-top:90px;
	}
.ui-dialog form,
.ui-dialog form fieldset {
	margin:0;
	padding:0;
	border:0;
	}	
.ui-dialog legend {	
    background-color: #0084b4;
    box-sizing: border-box;
    color: #f5f5f5;
    display: block;
    font-size: 24px;
    height: 70px;
    letter-spacing: 1px;
    line-height: 70px;
    margin: 0;
    padding: 0 0 0 54px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
	}
.ui-dialog legend::before {
	content:"\f104";
	box-sizing: border-box;
    color: #f5f5f5;
    display: block;
    font-family: "FontAwesome";
    font-size: 70px;
    line-height: 66px;
    padding-left: 10px;
    position: absolute;
    left:0;
    cursor:pointer;
	}		
.ui-dialog fieldset p {	
	text-align:center;
	margin:40px 0;
	}
.ui-dialog input {	
    background-color: #0084b4;
    color: #f5f5f5;
    display: block;
    height: 70px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80%;	
    margin-left:10%;
    border:0 none;
    border-radius:5px;
    margin-bottom:5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;        
	}
.ui-dialog input:focus {
	outline: none;
	}
.ui-dialog input#form_action-no	{
	background-color:red;
	}
.ui-dialog input#form_action-yes	{
	background-color:#00aa00;
	}	
	
#infscr-loading {
	display:none !important;
	}
.quitim .infscr-pages {
	opacity:0;
	}

#quitimfavorited #thumb-thread {
    margin-top: 0px;
    border-top:0 none;
    }

.double-tap-heart {
    background-position: center -1600px;
    height: 300px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
	}

/* notifications */

#new-notifications-start {
    border-bottom: 1px solid #333333;
    height: 25px;
    line-height: 23px;
    margin: 15px;
	}
#new-notifications-end {
	height:10px;
	margin:15px;
	border-top:1px solid #333;
	}

 .noticestream.threaded-view #notices_primary > .notices > .notice.notification > .entry-title {
	font-size:13px;
	color:#333;
	}
.noticestream.threaded-view .notice.notification .entry-title > .author {
	display:inline-block;
	}

.noticestream.threaded-view .notice.notification .entry-title > .author {
	line-height:20px;
	padding-top:8px;
	padding-right:80px;
	font-weight:bold;
	}
.noticestream.threaded-view .notice.notification .entry-title > .author .u-photo {
	margin-top:0px;
	}

.noticestream.threaded-view .notification .vcard img {
	border-radius: 35px;
    box-shadow: 0 0 5px #000000 inset;
    display: block;
    height: 34px;
    width: 34px;
	display:block;
    float:left;
	margin: 0 8px;
	}



.noticestream.threaded-view .notice.notification .entry-title > .author span.notificationtext {
	font-weight:400;
	}

 .noticestream.threaded-view #notices_primary > .notices > .notice.notification {
	padding-bottom:10px;
	}
.noticestream.threaded-view #notices_primary > .notices > .notice.notification {
	margin:0 10px;
	border-color:#ddd;
	min-height: 50px;
	}
.noticestream.threaded-view #notices_primary > .notices > .notice.notification.first-seen {
	padding-top:40px;
	border-top:1px solid #333;
	margin-top:-1px;
	}
.noticestream.threaded-view .notice.notification .entry-title > .author {
	display:block;
	height:auto;
	min-height:45px;
	}
.noticestream.threaded-view .notice.notification .entry-title > .author abbr {
	display:inline;
	color:#aaa;
	text-decoration:none;
	font-size:12px;
	font-weight:400;
	border:0 none;
	}

.noticestream.notification-stream.threaded-view a.thumb {
	display:block;
	position:absolute;
	top:5px;
	right:0;
	width:80px;
	height:50px;
	z-index:10;
	}
.noticestream.notification-stream.threaded-view .notice.notification.first-seen a.thumb {
	margin-top:40px;
	}

.noticestream.notification-stream.threaded-view img:not(.avatar) {
	width:auto;
	height:auto;
	margin:0;
	max-height:50px;
	position:absolute;
	right:0;
	}

/* notifications bubble */
.quitim #fixed-footer a#notifications div#notifications-bubble {
	position:absolute;
	width:300px;
	height:40px;
	background:none;
	top:-45px;
	text-align:center;
	left:50%;
	margin-left:-150px;
	border:0 none;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div {
	background-color:#FF8000;
	position:relative;
	display:inline-block;
	height:40px;
	line-height:38px;
	text-align:left;
	padding-left:37px;
	padding-right:7px;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	border:0 none;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div#noti-comments-mentions {
	background-position:-97px -748px;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div#noti-likes {
	background-position:10px -748px;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div#noti-follow {
	background-position:-193px -749px;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div:first-child {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	}
.quitim #fixed-footer a#notifications div#notifications-bubble div:last-child {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	}
.quitim #fixed-footer a#notifications div#notifications-arrow {
	background:none;
	position:absolute;
	top:-5px;
	left:50%;
	margin-left:-10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #FF8000 transparent transparent transparent;
	}


#spinner-overlay,
#popup-register,
#image-preview {
	top:0;
	position:fixed;
	z-index:10000;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5);
	display:none;
	}
#image-preview {
	background-color:#333;
	overflow:hidden;
	}
#image-preview canvas, #image-preview img {
	height:auto !important;
	width:100% !important;
	max-width:1000px;
	padding-top:50px;
	position:absolute;
	}
#image-preview #hires_image {
	display:none;
	}
#spinner-overlay #clock-container {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-40px;
	margin-top:-40px;
	}
#popup-register {
	z-index:9000;
	background-color:rgba(0,0,0,0.9);
	overflow-y: scroll;
	padding:0 50px 0 25px;
	}

/* filter toolbar */
#image-preview #image-toolbar,
#image-preview #image-toolbar-extras {
	width:100%;
	position:fixed;
	left:0;
	background:#222;
    bottom: -40px; /* hides scrollbar but enables scroll */
    height: 150px;
	z-index:10;
	overflow: auto;
	overflow-y: hidden;
	white-space:nowrap;
	}
#image-preview #image-toolbar-extras {
	overflow:hidden;
	height:50px;
	bottom:110px;
	background:#444;
	text-align:center;
	}
#image-toolbar > div {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    padding-top: 80px;
    position: relative;
    text-align: center;
    padding-left:5px;
    width: 100px;
    text-transform:uppercase;
	}
#image-toolbar-extras > div {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin:0 10px;
	}
#image-toolbar-extras > div:active {
	background-color:#666;
	}
#image-toolbar > div.active {
	color:#0084B4;
	}
#image-toolbar > div .filter-thumb {
    border: 2px solid #222222;
    border-radius: 5px;
    height: 60px;
    margin-left: 10px;
    margin-top: -70px;
    overflow: hidden;
    position: absolute;
    width: 80px;
	}
#image-toolbar > div.active .filter-thumb {
	border:2px solid #0084B4;
	}
#image-toolbar #filter-normal .filter-thumb { background-position: 0 0; }
#image-toolbar #filter-luddite .filter-thumb { background-position: -100px 0; }
#image-toolbar #filter-che .filter-thumb { background-position: -200px 0; }
#image-toolbar #filter-pigasus .filter-thumb { background-position: -300px 0; }
#image-toolbar #filter-punk .filter-thumb { background-position: -400px 0; }
#image-toolbar #filter-solanas .filter-thumb { background-position: 0 -75px; }
#image-toolbar #filter-redstar .filter-thumb { background-position: -100px -75px; }
#image-toolbar #filter-bourgeoisie .filter-thumb { background-position: -200px -75px; }
#image-toolbar #filter-blackcat .filter-thumb { background-position: -300px -75px; }
#image-toolbar #filter-matrix .filter-thumb { background-position: -400px -75px; }
#image-toolbar #filter-armchair .filter-thumb { background-position: 0 -150px; }
#image-toolbar #filter-postcolonial .filter-thumb { background-position: -100px -150px; }
#image-toolbar #filter-utopia .filter-thumb { background-position: -200px -150px; }
#image-toolbar #filter-queer .filter-thumb { background-position: -300px -150px; }
#image-toolbar #filter-lazydays .filter-thumb { background-position: -400px -150px; }
#image-toolbar #filter-thespectacle .filter-thumb { background-position: 0 -225px; }
#image-toolbar #filter-buddha .filter-thumb { background-position: -100px -225px; }

#image-preview #image-nav {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:#222;
	height:50px;
	z-index:10;
	}
#image-preview #image-nav #close-image,
#image-preview #image-nav #submit-image {
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	top:0;
	background-position: -55px -1495px;
	color:transparent;
	font-size:0;
	}
#image-preview #image-nav #submit-image {
	left:auto;
	right:0;
	background-position: 0 -1495px;
	}
#image-preview #image-nav #close-image:active,
#image-preview #image-nav #submit-image:active {
	background-color:#000;
	}

#image-preview #image-toolbar-extras #exposure-contrast {
	background-position: -110px -1495px;
	}
#image-preview #image-toolbar-extras #exposure-contrast.active {
	background-position: -170px -1495px;
	}
#image-preview #image-toolbar-extras #vignette {
	background-position: -232px -1495px;
	}
#image-preview #image-toolbar-extras #vignette.active {
	background-position: -292px -1495px;
	}

/* signup */

.front-signup {
	}
.front-signup {
	margin-top:123px;
    height: 206px;
	}
.front-signup:not(#popup-signup) {
    height: auto;
    padding-bottom: 53px;
	}

.front-signup input {
	width:100%;
	border:0 none;
	}
.front-signup input {
    border: 0 none;
    height: 40px;
    margin: 5px 0;
    outline: 0 none;
    position: relative;
    padding:0 10px;
    border-radius:5px;
    font-size:16px;
	}

.front-signup input.disabled {
	background-color:#ccc;
	}

.signup-input-container {
	position:relative;
    color: #333333;
	}

.front-signup h2 {
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #777777;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-top:0;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    font-family: "Helvetica Neue",Arial,sans-serif;
	}
.front-signup h2 strong {
    color: #333333;
    font-weight: 500;
	}

.front-signup .signup-btn {
	font-family: "Helvetica Neue",Arial,sans-serif;
	border-radius: 4px 4px 4px 4px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #333333;
    cursor: pointer;
    display: block;
    font-size: 33px;
    font-weight: bold;
    line-height: 18px;
	background-color: #FD9A0F;
	background: -moz-linear-gradient(top, rgba(254,233,79,1) 0px, rgba(253,154,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,rgba(254,233,79,1)), color-stop(100%,rgba(253,154,15,1)));
	background: -webkit-linear-gradient(top, rgba(254,233,79,1) 0px,rgba(253,154,15,1) 100%);
	background: -o-linear-gradient(top, rgba(254,233,79,1) 0px,rgba(253,154,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,233,79,1) 0px,rgba(253,154,15,1) 100%);
	background: linear-gradient(to bottom, rgba(254,233,79,1) 0px,rgba(253,154,15,1) 100%);
    border: 1px solid #FFAA22;
    bottom: 12px;
    height: 60px;
    margin: 20px auto;
    padding-left: 30px;
    padding-right: 30px;
	}
.front-signup .signup-btn:hover, .front-signup .signup-btn:focus {
    background-color: #FD9512;
	background: -moz-linear-gradient(top, rgba(254,220,77,1) 0px, rgba(253,149,18,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,rgba(254,220,77,1)), color-stop(100%,rgba(253,149,18,1)));
	background: -webkit-linear-gradient(top, rgba(254,220,77,1) 0px,rgba(253,149,18,1) 100%);
	background: -o-linear-gradient(top, rgba(254,220,77,1) 0px,rgba(253,149,18,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,220,77,1) 0px,rgba(253,149,18,1) 100%);
	background: linear-gradient(to bottom, rgba(254,220,77,1) 0px,rgba(253,149,18,1) 100%);
    border-color: #EC8B11;
	}


.front-signup {
	max-width:600px;
	padding: 0 60px 0 5px;
	opacity: 1;
    position: relative;
    margin:10px auto 0 auto;
	}
.front-signup .signup-input-container {
	position:relative;
	margin:0 30px 0 0;
	}
.front-signup #atsign,
.front-signup .fieldhelp {
	font-size: 22px;
    height: 20px;
    left: -20px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    width: 20px;
    color:#ccc;
    height:50px;
    line-height:50px;
	}
.front-signup .fieldhelp {
   color: #AAAAAA;
    font-size: 14px;
    left: auto;
    padding-left: 5px;
    right: -45px;
    top: 0;
    }
.front-signup .signup-input-container input.invalid,
.front-signup .signup-input-container input.nickname-taken {
	background-color:pink;
	}
button.signup-btn.disabled:hover,
button.signup-btn.disabled:focus,
button.signup-btn.disabled {
	background-color: #DDDDDD;
    background-image: none;
    border-color: #CCCCCC;
    color: #777777;
    cursor: default;
    opacity: 0.65;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	}

.front-signup #terms {
	color:#fff;
	font-size:11px;
	padding:20px;
	}




/* login / popular images page */

body#quitimfavorited.logged-out #wrap {
	max-width: none;
	position: fixed;
	z-index:1;
	margin-top:0;
}

body#quitimfavorited.logged-out #wrap > #header,
body#quitimfavorited.logged-out #wrap #thumb-thread {
	display:none;
}

body#quitimfavorited.logged-out #login-overlay {
	z-index: 2;
	position: relative;
	padding-top: 100px;
}

body#quitimfavorited #login-content_inner {
	max-width:60%;
	margin:0 auto;
}

.quitim #loginlogo {
	height:150px;
	width:100%;
	max-width:380px;
	background-position: center -1300px;
	background-repeat: no-repeat;
	margin:0 auto;
	}

body#quitimfavorited form, body#quitimfavorited fieldset {
	border:0 none;
	margin:0;
	padding:0;
	}

body#quitimfavorited #form_login {
	margin:0 auto;
	width:100%;
	max-width:500px;
	position:relative;
	height:120px;
	background-position:0 -805px;
	background-repeat:repeat-x;
	}

body#quitimfavorited #form_login fieldset {
	background-position:0 -1030px;
	margin-left:-20px;
	}
body#quitimfavorited #form_login fieldset .form_data {
	background-position:right -1160px;
	width:100%;
	margin-right:-38px;
	padding-right:38px;
	}

body#quitimfavorited #form_login li {
	height:55px;
	padding: 0 30px 0 0;
	margin-left:25px;
	}
body#quitimfavorited #form_login li input {
	width:100%;
	height:55px;
	box-sizing:content-box;
	border:0 none;
	background:transparent;
	font-size:15px;
	font-weight:bold;
	color:#333;
	}

::-webkit-input-placeholder { /* android */
	color:#555;
}

body#quitimfavorited #form_login li input:focus {
    outline-width: 0;
    }
body#quitimfavorited #form_login li:first-child {
	margin-bottom:2px;
	padding-top:5px;
	}
body#quitimfavorited #form_login li:nth-child(2) {
	line-height:53px;
	height:53px;
	padding-bottom:5px;
	}
body#quitimfavorited #rememberme,
body#quitimfavorited label[for="rememberme"] {
	display:none;
	}
body#quitimfavorited #form_login li:last-child {
	display:none
	}
body#quitimfavorited #form_login #submit {
	position:absolute;
	top:23px;
	right:-72px;
	box-sizing:content-box;
	margin:0;
	padding:0;
	background-color:transparent;
	border:0 none;
	font-size:0;
	color:transparent;
	background-position:-7px -930px;
	width:65px;
	height:70px;
	cursor:pointer;
	}
body#quitimfavorited #form_login #submit:hover {
	background-position:-101px -930px;
	}
body#quitimfavorited #form_login #submit:active {
	background-position:-195px -930px;
	}

body#quitimfavorited p#lostpassword a {
    background: rgba(0, 0, 0, 0.49) none repeat scroll 0 0;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 50%;
	}
body#quitimfavorited p#lostpassword a:hover {
	color:rgba(255,255,255,1);
	}

body#quitimfavorited #what-is-quitim {
	text-align:left;
	max-width:460px;
	color:rgba(255,255,255,0.8);
	background-color:rgba(0,0,0,0.8);
	padding:30px;
	margin:0 auto;
	}

body#quitimfavorited a#quitim-sign-up {
	display:block;
	padding:30px 0;
	font-size:50px;
	font-weight:300;
	color:#0084B4;
	}


body#quitimfavorited #login-content_inner > .error {
    background: red none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 50%;
	}





/* responsive */

@media (max-width: 800px) {

	body#quitimfavorited p#lostpassword a,
	body#quitimfavorited #login-content_inner > .error {
		width:100%;
		}

	.noticestream.thumbnail-view #notices_primary {
		width:102%;
		position:relative;
		}

	.noticestream.thumbnail-view .notice  {
		width:24%;
		padding:0 0.2% 0.2% 0;
		}
	}

@media (max-width: 600px) {

	.noticestream.thumbnail-view #notices_primary {
		width:103%;
		position:relative;
		}

	.noticestream.thumbnail-view .notice  {
		width:32%;
		padding:0 1% 1% 0;
		}

	body#quitimfavorited #what-is-quitim {
		text-align:left;
		color:rgba(255,255,255,0.8);
		background-color:rgba(0,0,0,0.8);
		padding:30px;
		}


	}

@media (max-width: 300px) {
	.noticestream.thumbnail-view .notice  {
		width:49%;
		}
	}


/* -------------- Loader1 -------------- */

.loader1{
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	border: 2px solid #666;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);

	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader1 3s linear infinite;
			animation: loader1 3s linear infinite;
}

.loader1:after{
	content: "";
	position: absolute;
	top: -1px;
	left: 20px;
	width: 7px;
	height: 7px;
	border-radius: 7px;
	background-color: #666;
}

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

#clock-container {
	margin:20px 0 40px;
	}


/* spinning refresh */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ie-keyframes rotate {
  from {
    -ie-transform: rotate(0deg);
  }
  to {
    -ie-transform: rotate(360deg);
  }
}

.spinning
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:             rotate;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
    -ie-animation-name:             rotate;
    -ie-animation-duration:         1.5s;
    -ie-animation-iteration-count:  infinite;
    -ie-animation-timing-function: linear;
}
